*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: black;
    background: rgb(48, 48, 54);
}

.Container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .head_app {
        background: white;
        border-radius: 16px;
        padding: 30px;
        flex-direction: column;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        .title {
            background: white;
            font-size: 32px;
            color: black;
        }
        .subTitle {
            background: white;
            font-size: 20px;
            color: rgb(192, 192, 192);
        }
    }
    .Weather {
        background: white;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        .temp {
            background: white;
            font-size: 70px;
        }
        .icon_weather{
            background: white;
            width: 60px;
            height: 60px;
            margin-left: 15px;
            margin-right: 30px;
            margin-bottom: 30px;
        }
        .title_temp {
            background: white;
            margin-left: 10px;
            justify-content: left;
            align-items: flex-start;
            .state {
                background: white;
                font-size: 20px;
                color: black;
            }
            
            .real_state {
                background: white;
                font-size: 20px;
                color: rgb(192, 192, 192);
            }
        }
    }
}









.Additional {
}

.wind {
}

.damp {
}

.press {
}

.bottom_app {
}

.slider_weather {
}